/* src/components/Card.css */

.card-title {
    margin-bottom: var(--spacing-md);
    color: var(--dark-bg);
}

.card-title.collapsible-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none; /* Zapobiega zaznaczaniu tekstu po kliknięciu */
    border-bottom: 1px solid var(--border-color); /* Dodaj linię pod tytułem */
    padding-bottom: var(--spacing-sm);
    margin-bottom: var(--spacing-sm); /* Zmniejsz margines pod tytułem */
}

.card-title.collapsible-header .toggle-icon {
    font-size: 1.2rem; /* Zmniejsz rozmiar ikony */
    font-weight: bold;
    transition: transform 0.3s ease;
    display: inline-block; /* Aby transformacja działała poprawnie */
    padding-left: var(--spacing-xs); /* Mały odstęp od tytułu */
}

/* Style dla rozwijanych sekcji */
.collapsible-section .collapsible-content {
    max-height: 1000px; /* Duża wartość, żeby zmieścić treść */
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
    padding-top: 0; /* Nie ma już potrzeby, bo border-bottom jest na h2 */
}

.collapsible-section.collapsed .collapsible-content {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
}

/* Ikona dla zwiniętej sekcji (strzałka w prawo) */
.collapsible-section.collapsed .card-title.collapsible-header .toggle-icon {
    transform: rotate(0deg); /* Strzałka w prawo */
}

/* Ikona dla rozwiniętej sekcji (strzałka w dół) */
.collapsible-section:not(.collapsed) .card-title.collapsible-header .toggle-icon {
    transform: rotate(90deg); /* Strzałka w dół (obrócona o 90 stopni) */
}